<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salvo Game</title>
    <link rel="stylesheet" href="./styles/game.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>

</head>

<body class="indicator">
    <div id="app1" class="container last indicator">

        <h1>RETROSHIPS</h1>

        <p class="playersTitle"><strong>PLAYERS:</strong></p> 
        <p class="playersTitle" id="players"></p>
        <div class="row">
            <div class="col-sm">
                <h2>Ships</h2>
                <table id="table1" class="gameTable"></table>
            </div>
            <div class="indicator">
                <p style="font-size: 15px;">Your Ships</p>

                <div class="indicator" style="font-size: 8px;" v-for="ship in shipLocs"> {{ship.type}}
                    {{ship.locations}} </div>

                <div class="indicator" v-if="shipLocs.length == 5">
                    <button id="placeShipButton" type="button" class="nes-btn is-success" v-on:click="getPlayerShips()">Place
                        Ships</button>
                </div>
                <div class="indicator" v-if="salvoLocs.length == 5"> <button id="fireSalvoesButton" type="button" class="nes-btn is-success" v-on:click="sendSalvo()">Fire Salvoes</button> </div>
            </div>
            <div class="col-sm">
                <h2>Salvoes</h2>
                <table id="table2" class="gameTable"></table>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="./scripts/game.js"></script>
</body>

</html>