body {
     background-image: url(plain-black-background.jpeg);
    background-size: cover;
}

table {
    table-layout: fixed;
}

h1 {
    text-align: center;
}

.playersTitle {
    text-align: center;
}

.gameTable td{
    border: solid 1px rgb(4, 238, 4);
    color: rgb(4, 238, 4);
    width: 40px;
    height: 40px;
    text-align: center;
}

.container {
    color: rgb(4, 238, 4);
}

.last {
    margin-bottom: 50px;
}

.gameTable .shipColor {
    background-color: greenyellow ;
}

.gameTable .empty {
    /* background-image: url(water.jpeg) */
    background-color: black;
}

.gameTable .entering {
    background-color: rgb(4, 238, 4);
}

.gameTable .invisible {
    display: none;
}

.gameTable .notAllowed {
    background-color: blueviolet;
}

 .spaceBetween {
     margin-top: 15px;
 }
 .col-sm {
     padding-right: 2px !important;
     padding-left: 2px !important; 
 }

 .hitSalvo {
     background-image: url("./fireEightBit.gif") !important;
     background-size: cover;
 }

 .chooseSalvoLoc {
     background-color: green;
 }

 .missSalvo {
     background-color: darkgreen !important;
 }