body {
        background-image: url(plain-black-background.jpeg);
       background-size: cover;
}

table {
    table-layout: fixed;
}

table td {
    background-color: black;
    color:rgb(4, 238, 4);
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

table thead {
    background-color: black;
    color:rgb(4, 238, 4);
}

input:invalid {
    border-bottom: 2px solid red;
}

.modal-content {
    background-color: rgb(4, 238, 4) !important;
    color:black;
}

.container {
    text-align: center;
}

.eightbit { 
    font-family: '8BITWONDERNominal'; 
    font-weight: normal; 
    font-style: normal; 
 }

 .container {
    color: rgb(4, 238, 4);
    font-size: 10px;
}

.nes-table-responsive {
    display: flex;
    justify-content: center;
}