body {
     background-image: url(plain-black-background.jpeg);
    background-size: cover;
}

table {
    table-layout: fixed;
}

.gameTable td{
    border: solid 1px rgb(4, 238, 4);
    color: rgb(4, 238, 4);
    width: 40px;
    height: 40px;
    text-align: center;
}

.container {
    color: rgb(4, 238, 4);
}

.last {
    margin-bottom: 50px;
}

.gameTable .shipColor {
    background-color: greenyellow ;
}

.gameTable .empty {
    /* background-image: url(water.jpeg) */
    background-color: black;
}

.gameTable .entering {
    background-color: rgb(4, 238, 4);
}

.gameTable .invisible {
    display: none;
}

.gameTable .notAllowed {
    background-color: blueviolet;
}

.eightbit { 
    font-family: '8BITWONDERNominal'; 
    font-weight: normal; 
    font-style: normal; 
 }

 .spaceBetween {
     margin-top: 15px;
 }

 /* .playerShips {
     font-size: 10px;
 }

 .playerShips p {
     font-size: 15px;
 } */
