body {
     background-image: url(warships.jpeg);
    background-size: cover;
}

table {
    table-layout: fixed;
}

.gameTable td{
    border: solid 1px white;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
}

.container {
    color: white;
}

.last {
    margin-bottom: 50px;
}

.gameTable .shipColor {
    background-color: red ;
}

.gameTable .empty {
    background-image: url(water.jpeg)
}

.gameTable .entering {
    background-color: green;
}

.gameTable .invisible {
    display: none;
}

